/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
/* /general */

/* top-buttons */
.top-buttons {
  position: fixed;
  right: 10px;
  z-index: 999;
}
.top-buttons > button {
  padding: 3px 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #4a4a4a; 
}
button > i {
  padding-right: 3px;
}
/* /top-buttons */

/* main */
main {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
  background-color: #000000;
}
main > .container {
  padding-top: 60px;
}
.card {
  /* width: 230px;
  height: 150px; */
  margin: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid black;
  background-color: aqua;
}
.badge {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px;
  background-color: rgba(98, 111, 123, 0.7);
  font-size: 12px;
}
div > img {
  height: 100%;
  width: 100%;
}
/* /main */

/* bottom-bar */
.bottom-bar {
  height: 80px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #222222;
}
.side-nav {
  width: 25%;
}
/* bottom-bar-buttons */
.side-nav > ul > li,
.main-nav > ul > li {
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
}
.side-nav > ul > li > i,
.main-nav > ul > li > i {
  font-size: 25px;
  margin-bottom: 9px;
}
.side-nav > ul > li:first-child {
  margin-left: 20px;
}
.side-nav > ul > li > span,
.main-nav > ul > li > span {
  font-size: 10px;
}
.main-nav {
  width: 50%;
}
.main-nav .special-icon {
  color: #4bc602;
}
.bottom-bar li > button {
  background: none;
  border: none;
  cursor: pointer;
}
/* /bottom-bar-buttons */

/* end-meeting-button */
.end-meeting {
  width: 25%;
  justify-content: flex-end;
}
.end-meeting-button {
  width: 130px;
  height: 100%;
  background-color: #4a4a4a;
  text-align: center;
  line-height: 80px;
}
.end-meeting-button > button {
  width: 100%;
  height: 100%;
  background: none;
  color: red;
}
/* end-meeting-button */

/* /bottom-bar-button */
/* /bottom-bar */